{%extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron">
        <div class="container">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-md-8">
                    {% if property.filename %}
                        <img src="/images/properties/{{ property.filename}}" alt="" class="w-100" style="height: auto">
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <h1>{{ property.title }}</h1>
                    <h1>{{ property.rooms }} pièces - {{ property.surface }} m2</h1>
                    <div class="text-primary" style="font-size: 4rem; font-weight: bold">{{ property.formattedPrice }} Ar</div>
                    <a href="" class="btn btn-primary">Contacter l'agence</a>
                    <div id="contatcForm">
                        {{ form_start(form) }}
                    </div>
                    <div class="row">
                        <div class="col">{{ form_row(form.firstname) }}</div>
                        <div class="col">{{ form_row(form.lastname) }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ form_row(form.phone) }}</div>
                        <div class="col">{{ form_row(form.email) }}</div>
                    </div>
                    {{ form_rest(form) }}
                    <div class="form-goup">
                        <button type="submit" class="btn-primary">Envoyer</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <p>
            {{ property.description | nl2br }}
        </p>

        <div class="row">
            <div class="col-md-8">
                <h2>Caractéristiques</h2>
                <table class="table table-striped">
                    <tr>
                        <td>Surface habitable</td>
                        <td>{{ property.surface }} m2</td>
                    </tr>
                    <tr>
                        <td>Pièces</td>
                        <td>{{ property.rooms }}</td>
                    </tr>
                    <tr>
                        <td>Chambres</td>
                        <td>{{ property.bedrooms }}</td>
                    </tr>
                    <tr>
                        <td>Etage</td>
                        <td>{{ property.floor }}</td>
                    </tr>
                    <tr>
                        <td>Chauffage</td>
                        <td>{{ property.heatType }}</td>
                    </tr>
                </table>

            </div>
            <div class="col-md-4">
                <h2>Spécificités</h2>
                <ul class="list-group">
                        <li class="list-group-item">
                            Balcon
                        </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}